a {
    font-family: 'Luckiest Guy', cursive;
    display: block;
    text-align: center;
    font-size: 3vw;
    margin-top: 3.5vw;
    color: rgba(148, 187, 233, 1);
    letter-spacing: 2px;
    text-decoration: none;
}

.b {
    font-family: 'Luckiest Guy', cursive;
    display: block;
    text-align: center;
    font-size: 5vw;
    color: rgba(148, 187, 233, 1);
    letter-spacing: 2px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20%;
    margin-top: 20%;

 

}

