#head {
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    font-size: 200px;
    color: rgba(148, 187, 233, 1);
    padding: 100px;
    letter-spacing: 2px;
}

a {
    color: pink;
    text-decoration: none;
    display: inline;
    font: bold;
    text-align: center;
    padding: 20px;
    font-size: 6vw;

}

a:hover {
    color: rgba(148, 187, 233, 1);
}

html {
    background-color: midnightblue;
}


