#head {
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    font-size: 200px;
    color: rgba(148, 187, 233, 1);
    padding: 300px;
    margin: -9px;
    letter-spacing: 1px;
}

a {
    color: pink;
    text-decoration: none;
    display: inline;

}

a:visited {
    color: rgba(148, 187, 233, 1);
}

html {
    background-color: midnightblue;
}

.b{
     color: pink;
    text-decoration: none;
    font-size: 23pt;
    padding: 100px;
    display: inline-block;
    text-align: center;

}

