#head{
    font-family: cursive;
    font-size: 100px;
    color: darkred;
    text-align: center;
}

.english{
    display: inline-grid;
    float: right;
    color: aliceblue;
    margin:0;
}

.french{
    display: inline-grid;
    margin: 0;
}

svg{
    display: inline-grid;
    margin: 0;
    width: 80%;
    height: 80%;
  
}
html{
    background-color: slategray;
    
}

