#head{
    font-family: cursive;
    font-size: 100px;
    color: darkred;
    text-align: center;
}

.english{
    display: inline-grid;
    float: right;
    color: aliceblue;
    margin:0;
    margin-right: 200px;
}

.french{
    display: inline-grid;
    margin: 0;
    margin-left: 200px;
}

.svg{
    display: inline-grid;
    margin-top: -150px;
    margin-bottom: -7px;
    margin-left: 40px;
  
   
  
}
html{
    background-color: coral;
    
}

