html {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.pink {
    width: 980px;
    height: 240px;
    background-color: mistyrose;
}

.blue {
    width: 980px;
    height: 240px;
    background-color: midnightblue;
}

.white {
    width: 80.5px;
    height: 960px;
    background-color: aliceblue
}

.black {
    width: 75.9px;
    height: 960px;
    background-color: black;
}

.paintingBlock {
    display: inline-block;
    margin: -3px
}

.red {
    width: 138px;
    height: 960px;
    background-color: darkred;
}

.darkBlue {
    width: 184px;
    height: 960px;
    background-color: midnightblue;
}

.red:hover {
    background-color: azure;
}
.blue:hover {
    background-color: aquamarine;
}

.white:hover {
    background-color: red;
}

.black:hover {
    background-color: floralwhite;
}

.pink:hover {
    background-color: chartreuse;
}

.darkBlue:hover {
    background-color: greenyellow;
}