head {

}

html{
    margin:-7;
    background-size: cover;
}



.centerOne{
  
      display: block;
  margin-left: auto;
  margin-right: auto;
    margin-bottom: 3vw;
    margin-top: 3vw;
  width: 50%;
}

.centerTwo{
        
     display: block;
  margin-left: auto;
  margin-right: auto; 
    margin-bottom: 3vw;
    margin-top: 3vw;
  width: 50%;
}

.centerThree{
     
       display: block;
  margin-left: auto;
  margin-right: auto;
      margin-bottom: 3vw;
    margin-top: 3vw;
  width: 50%;
}

.centerFour{
       
       display: block;
  margin-left: auto;
  margin-right: auto;
      margin-bottom: 3vw;
    margin-top: 3vw;
  width: 50%;
}

.centerFive{
        
       display: block;
  margin-left: auto;
  margin-right: auto;
     margin-bottom: 3vw;
    margin-top: 3vw;
  width: 50%;
}

.centerSix{
     
      display: block;
  margin-left: auto;
  margin-right: auto;
     margin-bottom: 3vw;
    margin-top: 3vw;
  width: 50%;
}

.centerSeven{
        
       display: block;
  margin-left: auto;
  margin-right: auto;
      margin-bottom: 3vw;
    margin-top: 3vw;
  width: 50%;
}

.centerEight{
        
       display: block;
  margin-left: auto;
  margin-right: auto;
     margin-bottom: 3vw;
    margin-top: 3vw;
  width: 50%;
}

.centerNine{
       
      display: block;
  margin-left: auto;
  margin-right: auto;
     margin-bottom: 3vw;
    margin-top: 3vw;
  width: 50%;
}

.centerTen{
      
      display: block;
  margin-left: auto;
  margin-right: auto;
     margin-bottom: 3vw;
    margin-top: 3vw;
  width: 50%;
}

.centerEleven{
    
      display: block;
  margin-left: auto;
  margin-right: auto;
     margin-bottom: 3vw;
    margin-top: 3vw;
  width: 50%;
}

.centerTwelve{
    
      display: block;
  margin-left: auto;
  margin-right: auto;
     margin-bottom: 3vw;
    margin-top: 3vw;
  width: 50%;
}

.centerThirt{

      display: block;
  margin-left: auto;
  margin-right: auto;
     margin-bottom: 3vw;
    margin-top: 3vw;
  width: 50%;
}

.centerFourth{
    
      display: block;
  margin-left: auto;
  margin-right: auto;
     margin-bottom: 3vw;
    margin-top: 3vw;
  width: 50%;
}

.centerFifth{
   
      display: block;
  margin-left: auto;
  margin-right: auto;
     margin-bottom: 3vw;
    margin-top: 3vw;
  width: 50%;
}

.centerSixth{
    
      display: block;
  margin-left: auto;
  margin-right: auto;
     margin-bottom: 3vw;
    margin-top: 3vw;
  width: 50%;
}

.centerSeventh{
   
      display: block;
  margin-left: auto;
  margin-right: auto;
     margin-bottom: 3vw;
    margin-top: 3vw;
  width: 50%;
}

.centerEighth{
    
      display: block;
  margin-left: auto;
  margin-right: auto;
     margin-bottom: 3vw;
    margin-top: 3vw;
  width: 50%;
}

.centerNinth{
   
      display: block;
  margin-left: auto;
  margin-right: auto;
     margin-bottom: 3vw;
    margin-top: 3vw;
  width: 50%;
}

.centerTwenty{
    background-attachment: scroll;
      display: block;
  margin-left: auto;
  margin-right: auto;
     margin-bottom: 3vw;
    margin-top: 3vw;
  width: 50%;
}
