.centerOne{
  display: inline-block;
    float: inherit;
    margin-left: 4vw;
    margin-right: auto;
    margin-top: 150px;
}
.buttonRight{
    display: inline-block;
    float: right;
    margin-bottom: 0;
    margin-top: 310px;
    margin-left: 0;
    margin-right: 0;
    padding: 8vw;
}
.buttonLeft{
    display: inline-block;
    float: left;
    margin-bottom: 0vw;
    margin-top: 310px;
    margin-left: 0vw;
    margin-right: 0vw;
    padding: 8vw;
}


