.centerOne{
  display: inline-block;
    float: inherit;
    margin-left: 2vw;
    margin-right: auto;
    margin-top: 150px;
}
.buttonRight{
    display: inline-block;
    float: right;
    margin-bottom: auto;
    margin-top: 310px;
    margin-left: auto;
    margin-right: auto;
    padding: 2vw;
}
.buttonLeft{
    display: inline-block;
    float: left;
    margin-bottom: auto;
    margin-top: 310px;
    margin-left: auto;
    margin-right: auto;
    padding: 2vw;
}


