.centerOne{
  display: inline-block;
    float: inherit;
    margin-left: 80px;
    margin-right: auto;
    margin-top: 150px;
}
.buttonRight{
    display: inline-block;
    float: right;
    margin-bottom: 0;
    margin-top: 310px;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
}
.buttonLeft{
    display: inline-block;
    float: left;
    margin-bottom: 0;
    margin-top: 310px;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
}


