#header {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 60px;
    color: rgba(148, 187, 233, 1);
    padding: 60px;
    background-color: antiquewhite;
    margin: -9px;
    letter-spacing: 1px;

}

#header:hover {
    color: antiquewhite
}

#image {

    text-align: center;
    padding: 0px;
    margin: -20px
}

img {
    border-radius: 100%;
    height: 200px;

}

#lineTwo {
    width: 100%;
    display: inline-block;
    font-size: 40px;
    color: rgba(148, 187, 233, 1);
   float: left;
      margin-left: auto;
    margin-right: auto;
    

}

#lineTwo:hover {
    color: antiquewhite;
}

#lineThree {
    width: 100%;
    display: inline-block;
    font-size: 40px;
    color: rgba(148, 187, 233, 1);
    text-align: center;
     margin-left: auto;
    margin-right: auto;

}

#lineThree:hover {
    color: antiquewhite;
}

#lineFour {
     width: 100%;
    display: inline-block;
    font-size: 40px;
    color: rgba(148, 187, 233, 1);
    text-align: right;
    margin-left: auto;
    margin-right: auto;

}

#lineFour:hover {
    color: antiquewhite;
}

#lineFive {
     width: 100%;
    display: inline-block;
    font-size: 40px;
    color: rgba(148, 187, 233, 1);
    text-align: left;
    margin-left: auto;
    margin-right: auto;

}

#lineFive:hover {
    color: antiquewhite;
}

#lineSix {
     width: 100%;
    display: inline-block;
    font-size: 40px;
    color: rgba(148, 187, 233, 1);
    text-align: right;
     margin-left: auto;
    margin-right: auto;

}

#lineSix:hover {
    color: antiquewhite;
}

#lineSeven {
     width: 100%;
    display: inline-block;
    font-size: 40px;
    color: rgba(148, 187, 233, 1);
   float: left;
    margin-left: auto;
    margin-right: auto;

}

#lineSeven:hover {
    color: antiquewhite;
}
ul li{
    list-style-type:circle;
    text-align: left;
}

#lineEight {
     width: 100%;
    display: inline-block;
    font-size: 40px;
    color: rgba(148, 187, 233, 1);
   text-align: center;
     margin-left: auto;
    margin-right: auto;

}

#lineEight:hover {
    color: antiquewhite;
}

#lineNine {
     width: 100%;
    display: inline-block;
    font-size: 40px;
    color: rgba(148, 187, 233, 1);
    float: left;
    margin-left: auto;
    margin-right: auto;

}

#lineNine:hover {
    color: antiquewhite;
}

a{
     width: 100%;
    display: inline-block;
    color: blanchedalmond;
    float:left;
    margin-left: auto;
    margin-right: auto;
}

html {
    background: rgba(148, 187, 233, 1)
}
